/* Header styles */
header {
    font-family: 'Merriweather', serif;
    text-align: center;
}

.offer {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.new-year1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    margin-bottom: 0px;
}

.head {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 16px;
    padding-bottom: 177px;
}

.header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/resources/Banner\ Image.png);
    margin: 50px 140px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-bottom: 0px;
}

/* Body styles */
.offer {
    text-align: center;
    font-family: Inter;
}

.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0px;
}

#holiday {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 48px;
    margin-top: 16px;
}

#catag {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}