/* Header styles */
header {
    font-family: 'Merriweather', serif;
    text-align: center;
}

.offer {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.new-year1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    margin-bottom: 0px;
}

.head {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 16px;
    padding-bottom: 177px;
}

.header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/resources/Banner\ Image.png);
    margin: 50px 140px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-bottom: 0px;
}

/* Body styles */
.offer {
    text-align: center;
    font-family: Inter;
}

.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0px;
}

#holiday {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 48px;
    margin-top: 16px;
}

#catag {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 48px;
}

.image-offer {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 0px 399px;
}

.welcome {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/resources/Vectorrr.png);
    margin: 120px 140px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
}

.party-text {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin: 126px 94px 24px 126px;
}

#group-70 {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 68px 138px 67px 0px;
}

#text {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 39px 32px 126px;
}

#btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 601px 142px 158px;
}